@import url("var.css");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0c192c;
    font-family: var(--tiro);
    color: var(--color-letra);
    padding: 10px;
    min-height: 100vh;
  
}
ul, li{
    list-style: none;
}
a {
    text-decoration: none;
}
main{
    scroll-behavior: smooth;
}
button:active{
    margin-top: 0px;
    border: 0;
}

button[disabled = disabled], button:disabled{
    background-color: gray;
	border-color: darkgray;
}

.resaltado{
    border: solid #D2001A 2px !important; 
}

@media screen and (min-width: 1024px) {
    .skills_titulo,.about__title, .hobbies_titulo,.formacion__titulo,.experiencia__title, .formcontato__title{
        font-size: 1.7rem;
    }
}
@media screen and (min-width: 768px){
    .menu{
        flex-direction: row;
    }
    body{
        display: flex;
        align-items: center;
    }

}