@import url("var.css");

.formacion, .formacion__contenido{
    display: flex;
    margin-top: 1.2rem;
    width: 74%;
    flex-direction: column;
}
.formacion__contenido{
    gap: 1.5rem;
}

.formacion__contenido-box{
    display: flex;
    background: beige;
    height: 9rem;
    justify-content: space-around;
    
}

.formacion__contenido-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--open-sans);
    gap: .8rem;
    padding-top: .8rem;
}
.formacion__contenido-item-img{
    width: 7vh;

}
.formacion__contenido-item-title, .formacion__contenido-item-subtitle{
    font-size: .67rem;
    color: black;

}
@media screen and (min-width: 768px){
    .formacion__contenido{
        width: 80%;
        padding-left: 5rem;
    }
}
@media screen and (min-width: 1024px){
    .formacion__contenido{
        flex-direction: row;

    }
    .formacion__contenido-box{
        width: 50%;
    }
}