@import url("var.css");

.formacion, .formacion__contenido{
    display: flex;
    margin-top: 1.2rem;
    flex-direction: column;
}
.formacion__contenido{
    gap: 1.5rem;
    width: 90%;
}

.formacion__contenido-box{
    display: flex;
    height: 15vh;
    justify-content: space-around;
    border: 1px solid #B9FFF8;
    border-radius: 20%;
    color: var(--color-letra);
}

.formacion__contenido-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--open-sans);
    gap: .8rem;
    padding-top: .8rem;
}
.formacion__contenido-item-img{
    width: 7vh;

}
.formacion__contenido-item-title, .formacion__contenido-item-subtitle{
    font-size: .67rem;
}
@media screen and (min-width: 768px){
    .formacion__contenido{
        width: 80%;
        padding-left: 5rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .formacion__contenido-box{
        height: 25vh;
        width: 42%;
        justify-content: center;
        align-items: center;
    }
    .formacion__contenido-item-title, .formacion__contenido-item-subtitle{
        font-size: 1.67rem;
    }

}
@media screen and (min-width: 1024px){
    .formacion__contenido{
        flex-direction: row;

    }
    .formacion__contenido-box{
        width: 50%;
    }
}