
.menu{
    display: flex;
    height: 5rem;
    flex-direction: column;
    
}
.menu h3{
    display: flex;
    padding-left: .62rem;
}
.menu__navegacion{
    display: flex;
    align-items: center;
    width: 94%;
}
.menu__navegacion__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: space-evenly;
}
.menu__enlace{
    font-size: .67rem;
}
.menu__enlace a{
    color: var(--color-letra);
    gap: .5rem;
}
@media screen and (min-width: 768px){
    .menu{
        width: 80%;
        flex-direction: row;
        align-items: center;
    }
    .menu__navegacion{
        justify-content: space-around;
    }
    .menu__navegacion__list{
        gap: 1rem;
        font-size: 2rem;
    }
}
@media screen and (min-width: 1024px){
    .menu__navegacion__list{
        flex-wrap: nowrap;
        gap: .3rem;
    }
    .menu_head{
        width: 45%;
    }
}