.skills, .hobbies{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 70%;
    /* animation: bounce; 
    animation-duration: 2s;  */
    
}

.skills_titulo,.about__title, .hobbies_titulo,.formacion__titulo,.experiencia__title, .formcontato__title{
    display: flex;
    font-size: 1rem;
    font-weight: bold;
}
/* azul-violeta #311EB4 #6F2FCA* #6F0427 #094249*/
.skills_line, .hobbies_line{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
.skills__box-imagen, .hobbies_box-imagen{
    width: 5vh;
}
.skills_box, .hobbies_box{
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 4rem;
    color: black;
    background: bisque;
    font-size: .57rem;
}




@media screen and (min-width: 768px){
    .skills_box, .hobbies_box{
        width: 20%;
    }
}
@media screen and (min-width: 1024px){
    .skills_line, .hobbies_line{
        flex-wrap: nowrap;
    }
    .skills_box, .hobbies_box{
        width: 15%;
    }
    .skills, .hobbies{
        width: 80%;
        padding-left: 10%;
    }
}