.about{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    margin-left: 0.5rem;
}

.about__descripcion{
    padding-top: 1rem;
    font-size: 1.3rem;
    font-family: var(--tiro);
}

.title{
    display: flex;
    margin-top: 2rem;
    max-width: 1024px;
}
.title_div{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
}
.title__imagen{
    width: 45%;
    border-radius: 5rem;
    max-height: 60%;
}
.title__contenido{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    font-family: var(--tiro);
    gap: 1rem;

}
.title__titulo{
    font-size: 1.7rem;
    font-weight: bold;
}
.title_texto{
    font-size: 1.4rem;
}
.title__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}
.title__list-items a{
    color: var(--color-letra);
    padding-left: .6rem;
    padding-bottom: .5rem;
    font-size: 1.2rem;
}
.title__item-imagen{
    width: .8rem;
}
@media screen and (min-width: 1024px){
    .title__titulo{
        font-size: 2rem;
    }
    .title_texto{
        font-size: 1.7rem;
    }
    .title_div{
        max-height: 30rem;
        flex-direction: row-reverse;
    }
    .title__list-items a{
        font-size: 1.5rem;
    }

    .title, .about{
        width: 80%;
        padding-left: 10%;
    }
}
