:root{
    --open-sans: 'Open Sans', sans-serif;
    --montserrat: 'Montserrat', sans-serif; 
    --tiro: 'Tiro Gurmukhi', sans-serif;

    --color-letra: #fff;
    --color-enlaces: #1C3879;
    /*color anterior de letra #2B4865*/
}